@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --main-color: #784cfb;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
    
}

nav {
    width: 100%;
    position: relative;
    z-index: 50;
    font-family: "Poppins", sans-serif;
  }


.logo {
    text-decoration: none;
    width: 80px;
    display: flex;
    align-items: center;
    font-size: 34px;
    font-weight: bold;
    color: var(--main-color);
    
  }

  nav a.nav-link{

    width: 100%;
    height: 100%;
    background: #333;
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--light-one);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
    
}

.navbar-brand{
  max-width: 17.75rem;
  padding: 0 !important;
  height: 6rem;
}
.navbar-nav > li >a{
  color: var(--light-one) !important;
}
.navbar-nav >li > a.active, .navbar-nav>li > a.active:focus{
  border-radius: 24rem solid var(--main-color);
}

/*--------------------------------Header--------------------------------*/

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  height: 100 vh !important;
}

.text {
  font-size: 1.25rem;
  color: var(--dark-two);
  line-height: 1.6;
}
.column-1 {
  margin-right: 2rem;
}
.btn {
  display: inline-block !important;
  padding: 0.85rem 2rem !important;
  background-color: var(--main-color) !important;
  color: var(--light-one) !important;
  border-radius: 2rem !important;
  font-size: 1.05rem !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  transition: 0.3s !important;
}

.btn:hover {
  background-color: var(--dark-one) !important;
}

.btn.small {
  padding: 0.7rem 1.8rem;
  font-size: 1rem;
}

.column-2 {
  margin-left: 2rem;
}
.image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.z-index {
  position: relative;
  z-index: 2;
}

.header-content .container.grid-2 {
  grid-template-columns: 2.5fr 3.5fr;
  min-height: calc(100vh - 6rem);
  padding-bottom: 2.5rem;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.header-title {
  font-size: 3.8rem;
  line-height: 0.8;
  color: var(--dark-one);
  font-family: "Poppins", sans-serif;
  
}

.header-content .text {
  margin: 2.15rem 0;
  font-family: "Poppins", sans-serif;
}


.header-content .image .img-element {
  max-width: 750px;
}
.title{
  position: relative !important;
  display: inline-block !important;
  padding-bottom: 1rem !important;
  line-height: 1 !important;
  font-size: 2.8rem !important;
  margin-bottom: 0.6rem !important;
  font-family: "Poppins", sans-serif;
}
.title:before {
  content: attr(data-title) !important;
  display: block !important;
  margin-bottom: 0.4rem !important;
  color: var(--main-color) !important;
  font-size: 1.15rem !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  letter-spacing: 3px !important;
}

.title:after {
  content: "" !important;
  position: absolute !important;
  width: 90px !important;
  height: 5px !important;
  border-radius: 3px !important;
  background-color: var(--main-color) !important;
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.title-sm{

  color: var(--dark-one);
  font-weight: 600;
  font-size: 1.6rem;
}
.navbar-nav a:hover {
  color: var(--main-color) !important;
}

.nav-link a.active:hover {
  color: var(--light-one) !important;
  background-color: #6b44e0 !important;
}

.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.text{
  color: var(--dark-one);
  font-family: "Poppins", sans-serif;
}

@media (max-width: 850px) {
  .grid-2 {
    grid-template-columns: 1fr !important;
  }
  .column-1 {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .column-2 {
    margin-left: 0;
    margin-top: 1rem;
  }

}